# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
.env.example
 Volume in drive D is New Volume
 Volume Serial Number is 4650-39B0

 Directory of D:\khushi web d\FlashFire\flashfire-dashboard-frontend-main


 Directory of D:\khushi web d\FlashFire\flashfire-dashboard-frontend-main

07-10-2025  16:54                 0 git
               1 File(s)              0 bytes
               0 Dir(s)  152,490,676,224 bytes free
main 
